 @font-family{
 font-family:michroma;
 src:url(file:///src/main/res/font/michroma) format("eot");
 }

body{
  font-family::"michroma";
  text-align: justify;
}

h1{
    text-align: center;
}

p::first-letter{
  margin-left: 5px;
}

.general_img{
  max-width: 100%;
  min-width: 30%;
  max-height: 50%;
  min-height: 30%;
  display: block;
  margin: auto;
}
